.right {
    float: right;
    margin-left: 0.5em;
}
a img {
    border: solid 1px #666666;
}
a img:hover {
    border: solid 1px #CC6714;
}
#contact th, #contact td {
    vertical-align:  top;
    text-align: left;
    padding: 0.3em 0em;
}
#contact th {
    width: 10em;
}
